
.ser h1{
    text-align: center;
    background-color: black;
    color: azure;
    font-size: 30px;
    height:50px;
    
    padding-top: 10PX;
}


.service{
    padding:20px;
    gap: 20px;
}


.service p
{
    font-size:19px;
}
.service ul{
    font-size: 20px;
    color:rgb(90, 5, 65);
}


.service-one
{
    margin-top: 20px;
    display:flex;


}


.AC{
    margin-top: 80px;
    display: flex;
}


.service-one__2{
    display: flex;
}


